.about
  background-image url('../assets/images/company.jpg')
  height 800px
  background-size cover
  background-repeat no-repeat
  background-position center
  +mq(0, 480px)
    height 590px
  .titleText
    position relative
    z-index 9
    font-family BanderaProBold
    font-size 150px
    font-weight 700
    line-height 100px
    text-align left
    margin 0 0 -2px 70px
    padding-top 330px
    &.hide
      transform translateX(-1000px)
    +mq(850px,1170px)
      font-size 130px
      line-height 85px
    +mq(768px,849px)
      margin 0 0 -2px 45px
      font-size 110px
      line-height 75px
    +mq(481px,767px)
      margin 0 0 -2px 45px
      font-size 110px
      line-height 75px
    +mq(0, 480px)
      margin 0 0 -2px 29px
      padding-top 243px
      font-size 55px
      line-height 35px
    .titleRed
      color #cd2430
    .titleWhite
      color #f6f3ef
      margin-left 0
      &.hide
        transform translateX(-250px)
  .textContainer
    position relative
    left 0
    &.hide
      transform translateX(2000px)
    .aboutText
      position absolute
      font-family BanderaPro
      color #f6f3ef
      font-size 16px
      font-weight 400
      line-height 24px
      text-align center
      width 900px
      height 210px
      box-sizing border-box
      padding-top 57px
      z-index 9
      left 0
      right 0
      margin 0 auto
      min-width 320px
      opacity 1
      &.hide
        opacity 0
      +mq(850px,1170px)
        width 100%
        font-size 15px
        line-height 23px
      +mq(768px,849px)
        width 100%
        font-size 14px
        line-height 22px
        padding 57px 30px 0 30px
      +mq(481px,767px)
        width 100%
        font-size 14px
        line-height 22px
        padding 35px 30px 0 30px
      +mq(0, 480px)
        width 100%
        padding 46px 54px
        font-size 12px
        line-height 17px
    .textHolder
      display block
      opacity 0.8
      height 210px
      width 919px
      transform skew(-45deg)
      background-color #3d4574
      margin 0 0 0 20%
      +mq(850px,1170px)
        width 878px
        margin 0 0 0 15%
      +mq(768px,849px)
        width 708px
        margin 0 0 0 14%
      +mq(481px,767px)
        width 708px
        margin 0 0 0 14%
      +mq(0, 480px)
        width 100%
        height 279px
        transform skew(0deg)
        margin 0
        opacity 1

  [data-anim-about="0"]   //title text
    transition all 1s
  [data-anim-about="1"]   //white text
    transition all 1s
    transition-delay 1s
  [data-anim-about="2"]   //blue container
    transition all 1s
  [data-anim-about="3"]   //text in container
    transition all 1s
    transition-delay 1s
  [data-anim-about="4"]   //scroll stuff
    transition all 1s
    transition-delay 1s