.chelsea
  background-image url('../assets/images/london.jpg')
  height 800px
  background-size cover
  background-repeat no-repeat
  background-position center
  overflow hidden
  +mq(720px, 800px)
    background-size cover
    background-position 39% 95%
  +mq(0, 480px)
    height 590px
    background-size 160%
    background-position 15% 0
  .titleText
    display inline-block
    font-family BanderaProBold
    font-size 150px
    font-weight 700
    line-height 100px
    text-align right
    margin 297px 0 0 45%
    z-index 9
    position relative
    will-change transform
    &.hide
      transform translateX(1000px)
    +mq(850px,1170px)
      font-size 130px
      line-height 85px
    +mq(768px,849px)
      font-size 110px
      line-height 75px
      margin 360px 0 0 40%
    +mq(481px,767px)
      font-size 110px
      line-height 75px
      margin 297px 0 0 17%
    +mq(0, 480px)
      margin 243px 0 0 80px
      font-size 55px
      line-height 35px
    .titleRed
      color #cd2430
    .titleWhite
      color #f6f3ef
      will-change margin
      &.hide
        margin-right -250px
  .textContainer
    margin-top -4px
    position relative
    left 0
    will-change transform
    &.hide
      transform translateX(-2000px)
      +mq(0, 480px)
        transform translateX(0)
    +mq(0, 480px)
      margin 0
    .chelseaText
      box-sizing border-box
      font-family BanderaPro
      color #f6f3ef
      font-size 16px
      font-weight 400
      line-height 24px
      text-align center
      position absolute
      z-index 9
      left 0
      right 0
      margin 0 auto
      width 900px
      padding 57px 5px 0 10px
      min-width 320px
      opacity 1
      will-change opacity
      &.hide
        opacity 0
      +mq(850px,1170px)
        width 100%
        font-size 15px
        line-height 23px
        padding 57px 75px 0 85px
      +mq(481px,849px)
        width 100%
        font-size 14px
        line-height 22px
        padding 57px 80px 0 85px
      +mq(481px,767px)
        width 100%
        font-size 14px
        line-height 22px
        padding 30px 40px 0 45px
      +mq(0, 480px)
        font-size 12px
        line-height 17px
        padding 46px 50px
        width 100%
    .textHolder
      display inline-block
      opacity 0.8
      height 210px
      width 919px
      transform skew(45deg)
      background-color #cd2430
      margin-left 8%
      +mq(850px,1170px)
        width 878px
      +mq(768px,849px)
        width 678px
        margin-left -2%
      +mq(481px,767px)
        width 678px
        margin-left -2%
      +mq(0, 480px)
        height 278px
        width 100%
        transform skew(0)
        opacity 1
        margin -4px 0 0 0
  [data-anim-chel="0"]   //title text 
    transition all 1s
  [data-anim-chel="1"]   //white text
    transition all 0.6s
    transition-delay 0.4s
  [data-anim-chel="2"]   //blue container
    transition all 1s
  [data-anim-chel="3"]   //text in container
    transition all 1s
    transition-delay 1s
  [data-anim-chel="4"]   //scroll stuff
    transition all 1s
    transition-delay 1s