*
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  -moz-osx-font-smoothing grayscale
  &:focus
    outline none

input:-webkit-autofill
  -webkit-box-shadow 0 0 0 1000px #f6f3ef inset

*::-webkit-input-placeholder
  color #f6f3ef
  opacity 1

*:-moz-placeholder
  color #f6f3ef
  opacity 1

*::-moz-placeholder
  color #f6f3ef
  opacity 1

*:-ms-input-placeholder
  color #f6f3ef
  opacity 1

*:focus::-webkit-input-placeholder
  color transparent
*:focus:-moz-placeholder
  color transparent
*:focus::-moz-placeholder
  color transparent
*:focus:-ms-input-placeholder
  color transparent


html,
body
  width  100%
  height auto
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  &.popup
    overflow hidden
  &.noEvents
    *
      pointer-events none


.container
  width 100%
  height auto
  background-image url('../assets/images/bg/pattern.png')
  background-attachment fixed
  overflow hidden
  min-width 320px

.viewBlock
  position fixed
  top 70%
  width 1px
  opacity 0

.wrapper
  max-width 1366px
  width 100%
  margin 0 auto
  .centerContainer
    max-width 1280px
    width 100%
    height 100%
    margin 0 auto
.scrollDown
  cursor pointer
  display block
  width 27px
  height 39px
  left 0
  right 0
  margin 0 auto
  position absolute
  margin-top -9px
  opacity 1
  will-change opacity
  z-index 79
  &:hover
    .rectHolder
      .rect
        &.first
          margin-top -18px
  &.hide
    opacity 0
  +mq(0, 699px)
    width 21px
    height 31px
  &.second
    margin-top -10px
  &.third
    margin-top -13px
  &.up
    transform rotate(180deg)
  &.last
    bottom 40px
    left 50px
    margin 0
    +mq(0, 699px)
      bottom 20px
      left 0
      right 0
      margin 0 auto
  svg
    width 100%
    height 100%
    path, polygon
      fill #f6f3ef
  .rectHolder
    height 30px
    overflow hidden
    margin-bottom -27px
    +mq(0, 699px)
      height 24px
      margin-bottom -21px
    .rect
      width 24px
      height 13px
      border 1px solid #f6f3ef
      opacity 1
      border-radius 0
      margin-bottom 2px
      transition all 0.2s
      will-change margin
      +mq(0, 699px)
        width 18px
        height 10px

.footer
  height 200px
  background-color #f6f3ef
  box-sizing border-box
  vertical-align middle
  padding 75px 0
  width 100%
  +mq(700px,1020px)
    height 180px
    padding 50px 0 96px 0
  +mq(0, 699px)
    height 340px
    padding 50px 45px 29px 45px
  .footerContainer
    width 100%
    position relative
    +mq(0, 699px)
      text-align center
    .address
      vertical-align middle
      display inline-block
      font-family BanderaProBold
      color #242424
      font-size 16px
      font-weight 700
      line-height 22px
      text-align left
      width 260px
      margin 0 5px 0 81px
      +mq(700px,1020px)
        margin 0 5px 0 50px
        width 235px
        font-size 14px
        line-height 20px
      +mq(0, 699px)
        text-align center
        margin 0 0 16px 0
        width 100%
    .phone
      width 350px
      margin 0 50px 0 0
      vertical-align middle
      display inline-block
      font-family BanderaPro
      color #242424
      font-size 16px
      font-weight 400
      line-height 22px
      text-align left
      a
        color #242424
        text-decoration none
        transition color 0.3s
        &:hover
          color #cd2430
          transition color 0.3s
      +mq(980px,1170px)
        font-size 14px
        line-height 20px
        width 200px
      +mq(768px,979px)
        font-size 14px
        line-height 20px
        width 200px
      +mq(700px,767px)
        font-size 14px
        line-height 20px
        width 200px
      +mq(0, 699px)
        text-align center
        margin 0 0 27px 0
        width 100%
    .ltd
      vertical-align middle
      display inline-block
      font-family BanderaPro
      color #747371
      font-size 12px
      font-weight 400
      line-height 26px
      text-align right
      position absolute
      right 252px
      top 7px
      +mq(700px,1020px)
        top 75px
        right 50px
      +mq(0, 699px)
        top 205px
        left 0
        right 0
        margin 0 auto
        text-align center
      a
        svg
          path, polygon
            transition fill 0.3s
            fill #cd2430
        &:hover
          svg
            path, polygon
              fill #242424
              transition fill 0.3s
      .icon
        vertical-align middle
        display inline-block
        width 16px
        height 20px
        margin 0 0 0 31px
        +mq(0, 699px)
          position absolute
          left 0
          right 0
          margin 0 auto
          top 40px
        svg
          width 100%
          height 100%
          transition fill 0.3s
          path, polygon
            transition fill 0.3s
            fill #cd2430
    .social
      display inline-block
      position absolute
      right 81px
      top -3px
      +mq(700px, 1020px)
        right 50px
      +mq(0, 699px)
        top 140px
        left 0
        right 0
        margin 0 auto
        text-align center
      .socialList
        vertical-align middle
        list-style none
        display inline-block
        li
          display inline-block
          &:first-child
            div
              border-right none
          a:hover
            div
              svg
                path, polygon
                  fill #cd2430
                  transition fill 0.3s
          div
            width 50px
            height 50px
            border 1px solid #747371
            box-sizing border-box
            padding 15px
            svg
              width 100%
              height 100%
              path, polygon
                fill #242424
                transition fill 0.3s
