.popupContainer
  position fixed
  width 100%
  height 100%
  z-index 99
  display none
  transition all 0.5s
  &.show
    display block
    background rgba(36, 36, 36, 0.0)
    &.dark
      background rgba(36, 36, 36, 0.5)
.blocksPopup
  position absolute
  display block
  z-index 100
  width 100%
  max-width 1366px
  left 0
  right 0
  margin 0 auto
  .Block
    transition all 0.5s
    max-width 1366px
    margin 0 auto
    position absolute
    width 100%
    top -1000px
    will-change top
    left 0
    right 0
    transform-origin 0% 50%
    transform scaleY(0)
    &.show
      transition all 0.5s
      transform scaleY(0)
      &.open
        transform scaleY(1)
  .closePopup
    cursor pointer
    width 26px
    height 25px
    margin 10% 40px 40px auto
    opacity 1
    &.hide
      opacity 0
      margin 10% -200px 40px auto
    +mq(0, 480px)
      width 21px
      height 21px
      margin 10% 20px 20px auto
    svg
      width 100%
      height 100%
      path
        fill #f6f3ef
  .textBlock
    background #f6f3ef
    max-width 1366px
    margin 0 auto
    padding 70px
    +mq(0, 480px)
      padding 49px 53px
    .title
      font-family BanderaProBold
      color #3d4574
      font-size 34px
      font-weight 700
      line-height 38px
      text-align center
      padding 13px 0 67px 0
      opacity 1
      &.hide
        opacity 0
      +mq(768px,849px)
        font-size 30px
        line-height 34px
      +mq(481px,767px)
        font-size 30px
        line-height 34px
      +mq(0, 480px)
        font-size 22px
        line-height 26px
    .text
      font-family BanderaPro
      color #242424
      font-size 18px
      font-weight 400
      line-height 26px
      text-align center
      padding-bottom 60px
      &.hide
        opacity 0
      +mq(768px,849px)
        font-size 16px
        line-height 22px
      +mq(481px,767px)
        font-size 16px
        line-height 22px
      +mq(0, 480px)
        font-size 12px
        line-height 17px
    .button
      position relative
      width 200px
      height 50px
      box-sizing border-box
      margin 20px auto 0 auto
      transform-origin 50% 0%
      transform scaleX(1)
      &.hide
        transform scaleX(0)
      +mq(0, 480px)
        width 170px
      &:hover
        .buttonHolder
          transition all 0.3s
          opacity 0.8
      .buttonHolder
        transition all 0.3s
        width 100%
        height 100%
        background #cd2430
        transform skew(-45deg)
      button
        position absolute
        width 100%
        height 100%
        border none
        box-shadow none
        border-radius 0
        z-index 9
        background none
        font-family BanderaProBold
        color #f6f3ef
        font-size 18px
        font-weight 700
        text-align center
        +mq(0, 480px)
          font-size 14px
  [data-anim-popup="0"]
    transition all 1s
    transition-delay 0.5s
  [data-anim-popup="1"]
    transition all 1s
    transition-delay 0.3s
  [data-anim-popup="2"]
    transition all 1s
    transition-delay 0.5s
  [data-anim-popup="3"]
    transition all 1s
    transition-delay 0.7s
