.request
  background-image url('../assets/images/request.jpg')
  height 1040px
  background-size cover
  background-repeat no-repeat
  margin -90px 0 0 0
  position relative
  .titleText
    font-family BanderaProBold
    font-size 150px
    font-weight 700
    line-height 100px
    text-align center
    padding 185px 0 84px 0
    .titleRed
      color #cd2430
    .titleWhite
      color #f6f3ef
  .formHolder
    margin 0 auto
    width 740px
    .inputField
      width 359px
      height 50px
      display inline-block
      margin-left 0
      margin-bottom 20px
      &:nth-child(2n+1)
        margin-left 20px
      input
        box-sizing border-box
        border 1px solid #f6f3ef
        border-radius 5px
        background transparent
        width 100%
        height 100%
        font-family BanderaPro
        color #f6f3ef
        font-size 18px
        font-weight 400
        text-align left
        padding 0 19px
    .textField
      height 180px
      width 100%
      textarea
        box-sizing border-box
        width 100%
        height 100%
        border 1px solid #f6f3ef
        border-radius 5px
        background transparent
        font-family BanderaPro
        color #f6f3ef
        font-size 18px
        font-weight 400
        text-align left
        padding 16px 19px
    .button
      position relative
      width 200px
      height 50px
      box-sizing border-box
      margin 20px auto 0 auto
      &:hover
        .buttonHolder
          transition all 0.3s
          opacity 0.8
      .buttonHolder
        transition all 0.3s
        width 100%
        height 100%
        background #cd2430
        transform skew(-45deg)
      button
        position absolute
        width 100%
        height 100%
        border none
        box-shadow none
        border-radius 0
        z-index 9
        background none
        font-family BanderaProBold
        color #f6f3ef
        font-size 18px
        font-weight 700
        text-align center