.request
  background-image url('../assets/images/request.jpg')
  height 1040px
  background-size cover
  background-repeat no-repeat
  background-position center
  margin -90px 0 0 0
  position relative
  +mq(481px, 800px)
    background-position 25% 0
  +mq(481px,1170px)
    margin -60px 0 0 0
    height 900px
  +mq(0, 480px)
    background-position 60%
    height 830px
  .titleText
    font-family BanderaProBold
    font-size 150px
    font-weight 700
    line-height 100px
    text-align center
    padding 185px 0 84px 0
    +mq(850px,1170px)
      font-size 130px
      line-height 85px
      padding 135px 0 59px 0
    +mq(768px,849px)
      font-size 110px
      line-height 75px
      padding 135px 0 59px 0
    +mq(481px,767px)
      font-size 110px
      line-height 75px
      padding 135px 0 59px 0
    +mq(0, 480px)
      padding 128px 0 41px 0
      font-size 55px
      line-height 35px
    .titleRed
      color #cd2430
    .titleWhite
      color #f6f3ef
  .formHolder
    margin 0 auto
    width 740px
    +mq(850px,1170px)
      width 640px
    +mq(768px,849px)
      width 640px
    +mq(481px,767px)
      width 100%
      padding 0 25px
      box-sizing border-box
    +mq(0, 480px)
      width 100%
      padding 0 25px
      box-sizing border-box
    .inputField
      width 359px
      height 50px
      display inline-block
      margin-left 0
      margin-bottom 20px
      +mq(850px,1170px)
        width 310px
      +mq(768px,849px)
        width 310px
      +mq(481px,767px)
        width 100%
        margin-bottom 10px
      +mq(0, 480px)
        width 100%
        margin-bottom 10px
      &:nth-child(2n+1)
        margin-left 20px
        +mq(481px,767px)
          margin-left 0
        +mq(0, 480px)
          margin-left 0
      input
        box-sizing border-box
        border 1px solid #f6f3ef
        border-radius 5px
        background transparent
        width 100%
        height 100%
        font-family BanderaPro
        color #f6f3ef
        font-size 18px
        font-weight 400
        text-align left
        padding 0 19px
        &.error
          background rgba(205, 36, 48, 0.4)
          border 1px solid rgb(205, 36, 48)
        +mq(850px,1170px)
          font-size 16px
        +mq(768px,849px)
          font-size 16px
        +mq(481px,767px)
          font-size 13px
        +mq(0, 480px)
          font-size 13px
    .textField
      height 180px
      width 100%
      textarea
        resize none
        box-sizing border-box
        width 100%
        height 100%
        border 1px solid #f6f3ef
        border-radius 5px
        background transparent
        font-family BanderaPro
        color #f6f3ef
        font-size 18px
        font-weight 400
        text-align left
        padding 16px 19px
        &.error
          background rgba(205, 36, 48, 0.4)
          border 1px solid rgb(205, 36, 48)
        +mq(768px,1170px)
          font-size 16px
        +mq(0px,767px)
          font-size 13px
    .thanksMessage
      display none
      position relative
      text-align center
      margin 0 auto
      width 600px
      margin-top 60px
      +mq(0px,700px)
        width 100%
      .message
        font-family BanderaPro
        color #f6f3ef
        font-size 30px
        font-weight 400
        line-height 36px
        text-align center
        padding-bottom 56px
        [lang="ru"] &
          font-size 27px
        +mq(700px,850px)
          font-size 24px
          line-height 30px
          [lang="ru"] &
            font-size 21px
        +mq(0, 700px)
          font-size 18px
          line-height 23px
          [lang="ru"] &
            font-size 16px
    .button, .thanksMessage .button
      position relative
      width 200px
      height 50px
      box-sizing border-box
      margin 20px auto 0 auto
      opacity 1
      transition opacity 0.3 ease
      &.hide
        opacity 0
      +mq(0, 480px)
        width 170px
      &.tap
        .buttonHolder:before
          transform scaleX(1) !important
      &:active, &:hover
        .buttonHolder:before
          transform scaleX(1)
          +mq(0, 770px)
            transform scaleX(0)
      .buttonHolder
        transition transform 0.3s
        width 100%
        height 100%
        background #cd2430
        will-change transform
        transform skew(-45deg) scaleX(1)
        display inline-block
        vertical-align middle
        box-shadow 0 0 1px rgba(0, 0, 0, 0)
        -webkit-backface-visibility hidden
        backface-visibility hidden
        -moz-osx-font-smoothing grayscale
        position relative
        z-index 1
        top 0
        bottom 0
        left 0
        right 0
        transform-origin 50%
        transition-timing-function ease-out
        &.showBG
          transform skew(-45deg) scaleX(1)
        &:before
          content ""
          position absolute
          z-index -1
          top 0
          bottom 0
          left 0
          right 0
          background #3d4574
          transform scaleX(0)
          transform-origin 50%
          transition-property transform
          transition-duration 0.3s
          transition-timing-function ease-out
      button
        left 0
        position absolute
        width 100%
        height 100%
        border none
        box-shadow none
        border-radius 0
        z-index 9
        background none
        font-family BanderaProBold
        color #f6f3ef
        font-size 18px
        font-weight 700
        text-align center
        [lang="ru"] &
          font-size 16px
          +mq(0, 480px)
            font-size 14px
        +mq(0, 480px)
          font-size 14px

