.services
  background-color #747371
  .servicesHeader
    height 440px
    box-sizing border-box
    padding 118px 0
    +mq(850px,1170px)
      height 320px
      padding 83px 0
    +mq(768px,849px)
      height 320px
      padding 83px 0
    +mq(481px,767px)
      height 320px
      padding 83px 0
    +mq(0, 480px)
      height 180px
      padding 59px 0
    .titleText
      font-family BanderaProBold
      font-size 150px
      font-weight 700
      line-height 100px
      text-align center
      +mq(850px,1170px)
        font-size 130px
        line-height 85px
      +mq(768px,849px)
        font-size 110px
        line-height 75px
      +mq(481px,767px)
        font-size 110px
        line-height 75px
      +mq(0, 480px)
        font-size 55px
        line-height 35px
      .titleRed
        color #cd2430
      .titleWhite
        color #f6f3ef
  .blocks
    width 1080px
    height 1080px
    margin 0 auto
    display flex
    flex-wrap wrap
    +mq(850px,1170px)
      width 720px
      height 720px
    +mq(768px,849px)
      width 720px
      height 720px
    +mq(481px,767px)
      width 320px
      height 640px
    +mq(0, 480px)
      width 320px
      height 640px
    .block
      display inline-block
      width 360px
      height 360px
      position relative
      z-index 9
      cursor pointer
      opacity 1
      transform scale(1)
      will-change transform, opacity
      &.hide
        transform scale(0)
        opacity 0
      &:hover
        .text
          opacity 0
          transform scale(0)
        .icon
          transform translateY(70px)
          +mq(768px,1170px)
            transform translateY(50px)
          +mq(0,767px)
            transform translateY(30px)
        .button
          transform translateY(-50px) rotate(180deg)
          +mq(768px,1170px)
            transform translateY(-30px) rotate(180deg)
      &.mobile
        display none
        +mq(481px,767px)
          display inline-block
        +mq(0, 480px)
          display inline-block
      +mq(850px,1170px)
        width 240px
        height 240px
      +mq(768px,849px)
        width 240px
        height 240px
      +mq(481px,767px)
        width 160px
        height 160px
        &.no-mobile
          display none
      +mq(0, 480px)
        width 160px
        height 160px
        &.no-mobile
          display none
      &.back
        background-color #747371
      &.mobile-back
        +mq(481px,767px)
          background-color #747371
        +mq(0, 480px)
          background-color #747371
      &.blue
        background-color #747371
        &.show
          background-color #3d4574

      &.mobile-blue
        +mq(481px,767px)
          background-color #3d4574
        +mq(0, 480px)
          background-color #3d4574
      &.red
        background-color #747371
        &.show
          background-color #cd2430
      .topTriangle
        position absolute
        display inline-block
        height 0
        width 0
        will-change border
        &.hide
          &.red
            border-top 0 solid #cd2430
            border-right 0 solid transparent
          &.blue
            border-top 0 solid #3d4574
            border-right 0 solid transparent
        &.red
          border-top 360px solid #cd2430
          border-right 360px solid transparent
          +mq(850px,1170px)
            border-top 240px solid #cd2430
            border-right 240px solid transparent
          +mq(768px,849px)
            border-top 240px solid #cd2430
            border-right 240px solid transparent
          +mq(481px,767px)
            border-top 160px solid #cd2430
            border-right 160px solid transparent
          +mq(0, 480px)
            border-top 160px solid #cd2430
            border-right 160px solid transparent
        &.blue
          border-top 360px solid #3d4574
          border-right 360px solid transparent
          +mq(850px,1170px)
            border-top 240px solid #3d4574
            border-right 240px solid transparent
          +mq(768px,849px)
            border-top 240px solid #3d4574
            border-right 240px solid transparent
          +mq(481px,767px)
            border-top 160px solid #3d4574
            border-right 160px solid transparent
          +mq(0, 480px)
            border-top 160px solid #3d4574
            border-right 160px solid transparent
          &.no-mobile
            +mq(481px,767px)
              display none
            +mq(0, 480px)
              display none

      .bottomTriangle
        position absolute
        display inline-block
        height 0
        width 0
        will-change border
        &.hide
          &.blue
            border-bottom 0 solid #3d4574
            border-left 0 solid transparent
          &.red
            border-bottom 0 solid #cd2430
            border-left 0 solid transparent
        &.blue
          border-bottom 360px solid #3d4574
          border-left 360px solid transparent
          +mq(850px,1170px)
            border-bottom 240px solid #3d4574
            border-left 240px solid transparent
          +mq(768px,849px)
            border-bottom 240px solid #3d4574
            border-left 240px solid transparent
          +mq(481px,767px)
            border-bottom 160px solid #3d4574
            border-left 160px solid transparent
          +mq(0, 480px)
            border-bottom 160px solid #3d4574
            border-left 160px solid transparent
          &.mobile-red
            +mq(481px,767px)
              border-bottom 160px solid #cd2430
              border-left 160px solid transparent
            +mq(0, 480px)
              border-bottom 160px solid #cd2430
              border-left 160px solid transparent

        &.red
          border-bottom 360px solid #cd2430
          border-left 360px solid transparent
          +mq(850px,1170px)
            border-bottom 240px solid #cd2430
            border-left 240px solid transparent
          +mq(768px,849px)
            border-bottom 240px solid #cd2430
            border-left 240px solid transparent
          +mq(481px,767px)
            border-bottom 160px solid #cd2430
            border-left 160px solid transparent
          +mq(0, 480px)
            border-bottom 160px solid #cd2430
            border-left 160px solid transparent
      .text
        font-family BanderaProBold
        color #f6f3ef
        font-size 24px
        font-weight 700
        line-height 28px
        text-align center
        position relative
        transition 0.3s
        opacity 1
        transform scale(1)
        will-change transform, opacity
        &.hide
          opacity 0
        +mq(850px,1170px)
          font-size 16px
          line-height 20px
        +mq(768px,849px)
          font-size 16px
          line-height 20px
        +mq(481px,767px)
          font-size 12px
          line-height 15px
        +mq(0, 480px)
          font-size 12px
          line-height 15px
      .icon
        position relative
        width 99px
        height 106px
        display block
        margin 46px auto 48px auto
        transition all 0.4s
        will-change transform
        &.hide
          transform translateY(70px)
          +mq(768px,1170px)
            transform translateY(50px)
          +mq(0,767px)
            transform translateY(30px)
        +mq(768px,1170px)
          width 69px
          height 69px
          margin 32px auto 28px auto
        +mq(0,767px)
          width 41px
          height 45px
          margin 26px auto 25px auto
        svg
          width 100%
          height 100%
          path, polygon
            fill #f6f3ef
      .button
        cursor pointer
        position absolute
        bottom 40px
        left 0
        right 0
        margin 0 auto
        width 26px
        height 21px
        transform rotate(180deg) translateY(0)
        transition all 0.4s
        will-change transform
        &.hide
          transform translateY(-50px) rotate(180deg)
          +mq(768px,1170px)
            transform translateY(-30px) rotate(180deg)
        +mq(768px,1170px)
          width 21px
          height 17px
          bottom 20px
        +mq(481px,767px)
          display none
        +mq(0, 480px)
          display none
        svg
          width 100%
          height 100%
          path, polygon
            fill #f6f3ef

  .block[data-anim-serv="0"]
    transition all 1s
    transition-delay 0.1s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 0.5s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 0.5s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 0.5s
  .block[data-anim-serv="1"]
    transition all 1s
    transition-delay 0.5s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 1s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 1s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 1s
  .block[data-anim-serv="2"]        //empty
    transition all 1s
    transition-delay 2s
  .block[data-anim-serv="3"]
    transition all 1s
    transition-delay 1s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 1.5s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 1.5s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 1.5s
  .block[data-anim-serv="4"]          //center block
    transition all 1s
    transition-delay 1.5s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 2s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 2s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 2s
  .block[data-anim-serv="5"]
    transition all 1s
    transition-delay 2s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 2.5s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 2.5s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 2.5s
  .block[data-anim-serv="6"]          //empty
    transition all 1s
    transition-delay 1s
  .block[data-anim-serv="7"]
    transition all 1s
    transition-delay 2.5s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 3s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 3s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 3s
  .block[data-anim-serv="8"]
    transition all 1s
    transition-delay 3s
    [data-anim-serv="11"]       //icons
      transition all 1s
      transition-delay 3.5s
    [data-anim-serv="12"]       //text
      transition all 1s
      transition-delay 3.5s
    [data-anim-serv="13"]       //buttons
      transition all 1s
      transition-delay 3.5s
  [data-anim-serv="9"]          //triangles
    transition all 1s
    transition-delay 4s
