.top
  background-image url('../assets/images/top.jpg')
  height 850px
  background-size cover
  background-repeat no-repeat
  background-position center
  position relative
  +mq(0, 480px)
    height 560px
    background-image url('../assets/images/p_top.jpg')
    background-size contain
    background-repeat no-repeat
    background-position top center
  .langTop
    transition-delay 0s !important
    cursor pointer
    display inline-block
    opacity 1
    position absolute
    z-index 22
    top 40px
    right 30px
    vertical-align middle
    transition opacity 0.5s ease
    will-change opacity
    &.langMenuOpen
      transform translateY(30px)
      +mq(0, 767px)
        transform translateY(40px)
    &.hide
      opacity 0
    +mq(768px,979px)
      right 30px
    +mq(0, 767px)
      top 20px
      right 5px
    &.tap
      span
        color #cd2430 !important
        transition color 0.3s ease
    &:hover, &:active
      span
        color #cd2430
        transition color 0.3s ease
        +mq(0, 769px)
          color #242424
    span
      display inline-block
      vertical-align top
      margin-top 4px
      color #242424
      font-family BanderaPro
      font-size 14px
      font-weight 400
      transition color 0.3s ease
      +mq(481, 800px)
        font-size 13px
      +mq(0, 480px)
        display none
    .globeTop
      display inline-block
      width 50px
      height 27px
      margin-top -2px
      +mq(0, 480px)
        height 22px
      svg
        width 100%
        height 100%
        path
          fill #cd2430
  .fullLogo
    display block
    padding 83px 0 0 0
    margin 0 auto
    width 252px
    height 153px
    position relative
    .topCube
      position absolute
      width 15px
      height 15px
      background #3d4574
      overflow hidden
      +mq(0, 480px)
        width 9px
        height 10px
      .topCubeTriangle
        position absolute
        display inline-block
        height 0
        width 0
        will-change transform
        transition transform 0.5s ease 0.6s
      &.left
        left 83px
        top 100px
        height 33px
        +mq(0, 480px)
          left 56px
          top 61px
          height 22px
          width 10px
        .topCubeTriangle
          top 18px
          border-bottom 15px solid #cd2430
          border-left 15px solid transparent
          +mq(0, 480px)
            top 12px
            border-bottom 10px solid #cd2430
            border-left 10px solid transparent
      &.leftCenter
        top 118px
        left 101px
        +mq(0, 480px)
          left 68px
          top 73px
        .topCubeTriangle
          border-top 15px solid #cd2430
          border-right 15px solid transparent
          +mq(0, 480px)
            border-top 10px solid #cd2430
            border-right 10px solid transparent
      &.rightCenter
        top 83px
        left 136px
        +mq(0, 480px)
          left 91px
          top 50px
        .topCubeTriangle
          border-bottom 15px solid #cd2430
          border-left 15px solid transparent
          +mq(0, 480px)
            border-bottom 10px solid #cd2430
            border-left 10px solid transparent
      &.right
        top 83px
        left 153px
        height 32px
        +mq(0, 480px)
          top 50px
          left 102px
          height 21px
        .topCubeTriangle
          border-top 15px solid #cd2430
          border-right 15px solid transparent
          +mq(0, 480px)
            border-top 10px solid #cd2430
            border-right 10px solid transparent
    &.hide
      .topCube
        &.left
          .topCubeTriangle
            transform translate(50%,50%)
        &.leftCenter
          .topCubeTriangle
            transform translate(-50%,-50%)
        &.rightCenter
          .topCubeTriangle
            transform translate(50%,50%)
        &.right
          .topCubeTriangle
            transform translate(-50%,-50%)
      svg
        .color
          fill #3d4574
          &.anim2
            transition-delay 0.4s
    +mq(0, 480px)
      padding 50px 0 0 0
      width 168px
      height 101px
    svg
      width 100%
      height 100%
      .color
        will-change fill
        &.anim2
          transition-delay 0.4s
  .menuContainer
    position relative
    margin 265px 0 0 0
    transform rotateX(0)
    transform-origin 50% 100%
    will-change transform
    &.hide
      transform rotateX(90deg)
    +mq(481px, 800px)
      margin 310px 0 0 0
    +mq(0, 480px)
      margin 160px 0 0 0
    .menuHolder
      display block
      opacity 0.8
      height 0
      border-bottom 50px solid #3d4574
      border-left 50px solid transparent
      border-right 50px solid transparent
      width 1100px
      margin 0 auto
      margin-bottom -1px
      +mq(850px,1170px)
        width 700px
      +mq(768px,849px)
        width 608px
      +mq(481px,767px)
        width 445px
      +mq(0, 480px)
        width 220px
    .menuTop
      position absolute
      list-style none
      z-index 2
      width 608px
      left 0
      right 0
      margin 0 auto
      padding-top 12px
      opacity 1
      will-change opacity
      &.hide
        opacity 0
      +mq(850px,1170px)
        width 570px
      +mq(768px,849px)
        width 405px
      +mq(481px,767px)
        width 405px
      +mq(0, 480px)
        display none
      li
        text-transform capitalize
        display inline-block
        padding-left 60px
        +mq(850px,1170px)
          padding-left 60px
        +mq(768px,849px)
          padding-left 30px
        +mq(481px,767px)
          padding-left 30px
        &:first-child
          padding-left 0
        a
          font-family BanderaProBold
          color #f6f3ef
          font-size 18px
          font-weight 700
          line-height 26px
          text-align center
          transition all 0.3s
          text-decoration none
          +mq(850px,1170px)
            font-size 16px
          +mq(768px,849px)
            font-size 14px
          +mq(481px,767px)
            font-size 14px
          &.light
            color #cd2430
            transition all 0.3s
          &:hover
            color #cd2430
            transition all 0.3s
  .menuButton
    display none
    margin 0 auto
    width 21px
    height 11px
    position absolute
    left 0
    right 0
    margin-top 15px
    z-index 9
    opacity 1
    cursor pointer
    will-change opacity
    &.hide
      opacity 0
    .border-menu
      width 100%
      height 100%
      div
        position relative
        width 100%
        height 2px
        background #f6f3ef
        transition all 0.3s
        &.line-top
          top 3px
        &.line-middle
          top 6px
        &.line-bottom
          top 9px
    svg
      width 100%
      height 100%
      path
        fill #f6f3ef
    +mq(0, 480px)
      display block
  .textContainer
    position relative
    transform rotateX(0)
    transform-origin 0% 0%
    overflow hidden
    will-change transform
    &.hide
      transform rotateX(-90deg)
      +mq(0, 480px)
        transform rotateX(0)
    .topText
      position absolute
      display inline-block
      box-sizing border-box
      padding 0 86px
      font-family BanderaPro
      color  #f6f3ef
      font-size 18px
      font-weight 400
      line-height 170px
      text-align center
      z-index 2
      width 800px
      height 170px
      left 0
      right 0
      margin 0 auto
      min-width 320px
      opacity 1
      will-change opacity
      [lang="ru"] &
        font-size 16px
        +mq(850px,1170px)
          font-size 14px
        +mq(768px,849px)
          font-size 14px
        +mq(481px,767px)
          font-size 14px
        +mq(0, 480px)
          font-size 13px
      span
        display inline-block
        line-height 26px
        vertical-align middle
        +mq(768px,849px)
          line-height 22px
        +mq(481px,767px)
          line-height 22px
        +mq(0, 480px)
          line-height 19px
      &.hide
        opacity 0
      +mq(850px,1170px)
        font-size 15px
        width 100%
        padding 0 230px
      +mq(768px,849px)
        font-size 15px
        width 100%
        padding 0 145px
      +mq(481px,767px)
        font-size 15px
        width 100%
        padding 0 100px
      +mq(0, 480px)
        width 100%
        padding 0 45px
        font-size 14px
        line-height 200px
        height 200px
    .textHolder
      display block
      opacity 1
      height 0
      border-top 170px solid #cd2430
      border-left 200px solid transparent
      border-right 200px solid transparent
      width 800px
      margin 0 auto
      +mq(850px,1170px)
        width 560px
        border-left 120px solid transparent
        border-right 120px solid transparent
      +mq(768px,849px)
        width 468px
        border-left 120px solid transparent
        border-right 120px solid transparent
      +mq(481px,767px)
        width 305px
        border-left 120px solid transparent
        border-right 120px solid transparent
      +mq(0, 480px)
        width 100%
        height 200px
        border none
        opacity 1
        background #cd2430

  [data-anim-top="5"]         //color logo
    svg
      .color
        transition all 0.5s
        transition-delay 0.2s
  [data-anim-top="0"]         //menu container
    transition all 0.7s
    transition-delay 0.3s
  [data-anim-top="1"]         //text container
    transition all 1s
    transition-delay 0.6s
  [data-anim-top="2"]         //menu
    transition all 0.5s
    transition-delay 0.7s
  [data-anim-top="3"]         //text
    transition all 0.5s
    transition-delay 1s
  [data-anim-top="4"]         //scroll stuff
    transition all 0.5s
    transition-delay 1s