<section class="popupContainer" data-popup="all"></section>
<section data-popups="block" class="blocksPopup">
  <div class="Block" data-block="0">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="0">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="0">Company Registration</div>
      <div data-anim-popup="2" class="text hide">
        Setting up any type of legal entity in the UK. Provision of legal address from a selection of London’s most prestigious business locations
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-request="0" data-anim-popup="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="1">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="1">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="1">Banking and Capital Markets</div>
      <div data-anim-popup="2" class="text hide">
        Setting up a full business banking operation in the UK.<br><br>
        Providing support in access to credit / capital markets in London should your<br>business require any particular type of funding<br><br>
        CPC also offers assistance in Asset Management and / or<br>Private Banking services in the UK
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-request="1" data-anim-popup="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="2">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="2">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
        <div data-anim-popup="1" class="title hide" data-requet-title="2">Nominee Directors</div>
        <div data-anim-popup="2" class="text hide">
          Legal entities in the UK are required by law to appoint a Director. CPC searches and selects a Nominee Director for a registered company<br><br>
          The Nominee Director will be a UK citizen acting on behalf of shareholders under agreed terms & conditions<br><br>
          The Nominee Director service also serves as a great option for confidentiality purposes
        </div>
        <div data-anim-popup="3" class="button hide" data-tap="request">
          <button data-request="2" data-anim-popup="4" type="button">make request</button>
          <div data-anim-popup="5" class="buttonHolder"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="3">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="3">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="3">Virtual Office and Administration Services</div>
      <div data-anim-popup="2" class="text hide">
        Project a complete Business Image by:<br><br>
        Telephone answering in your company’s name (London phone number)<br>
        Mail handling<br>
        General office administration and day-to-day management<br>
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-request="3" data-anim-popup="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="4">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="4">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="4">Tax and Accounting </div>
      <div data-anim-popup="2" class="text hide">
        Provision of full Accounting and Tax services in the UK by a UK Chartered Accountant
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-anim-popup="4" data-request="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="5">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="5">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="5">Legal Advisory</div>
      <div data-anim-popup="2" class="text hide">
        Assistance in any type of legal matter involving setting up the company, daily running of the business or any other special projects (e.g. regulation, contracts, license, legal disputes etc)
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-anim-popup="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>


  <div class="Block" data-block="6">
    <div data-anim-popup="0" class="closePopup hide" data-close-block="6">
      {% include 'svg/info_close.twig' %}
    </div>
    <div class="textBlock" data-popup-content="0">
      <div class="CPCblock hide" data-anim-popup="2">
      <div data-anim-popup="1" class="title hide" data-requet-title="6">Market penetration, Research and Sales Support</div>
      <div data-anim-popup="2" class="text hide">
        CPC offers Market Penetration support  and consultancy services to expand your business operation into the European Union<br><br>
        If you are looking to grow your sales potential in the UK / Continental Europe, we consult on market research and further sales strategies with the aim to gain your company access to one of the world’s biggest economies
      </div>
      <div data-anim-popup="3" class="button hide" data-tap="request">
        <button data-request="6" data-anim-popup="4" type="button">make request</button>
        <div data-anim-popup="5" class="buttonHolder"></div>
      </div>
      </div>
    </div>
  </div>




</section>