<footer data-section="4" id="contacts" class="footer">
  <div class="footerContainer">
    <div class="address">
      49 Elystan Place, SW3 3JY<br>
      Chelsea, London
    </div>
    <div class="phone">
      <a class="tel" href="tel:+44 (0) 790 021 8930">+44 (0) 790 021 8930</a><br>
      <a class="mail" href="mailto:vl@chelseaconsult.com">vl@chelseaconsult.com</a>
    </div>
    <div class="ltd">
      <span>© 2016 Chelsea Partners Consulting Ltd</span>
      <a href="http://smallsquad.com/"><div class="icon">{% include 'svg/ss_id.twig' %}</div></a>
    </div>
    <div class="social">
      <ul class="socialList">
        <li class="twitter">
          <a onclick="var Z = window.open(this.href, 'Twitter', 'status=0,location=0, width=600,height=300'); return false;" href="https://twitter.com/intent/tweet?original_referer=http://chelsea.inv1s.lv&tw_p=tweetbutton&url=http://chelsea.inv1s.lv&text=tweet"><div>{% include 'svg/twitter_id.twig' %}</div></a>
        </li>
        <li class="fb">
          <a onclick="var w = window.open(this.href, 'Facebook', 'status=0,location=0, width=600,height=300'); return false;" href="https://www.facebook.com/dialog/feed?app_id=962051167221381&display=popup&picture=http://chelsea.inv1s.lv/public/assets/images/p_top.jpg&caption=Chelsea&link=http://chelsea.inv1s.lv&redirect_uri=http://chelsea.inv1s.lv"><div>{% include 'svg/facebook_id.twig' %}</div></a>
        </li>
      </ul>
    </div>
  </div>
</footer>