<footer data-section="4" id="contacts" class="footer">
  <div class="footerContainer">
    <div class="address">
      49 Elystan Place, SW3 3JY<br>
      Chelsea, London
    </div>
    <div class="phone">
      <a class="tel" href="tel:+44 (0) 790 021 8930">+44 (0) 790 021 8930</a><br>
      <a class="mail" href="mailto:vl@chelseaconsult.com">vl@chelseaconsult.com</a>
    </div>
    <div class="ltd">
      <span>© 2016 Chelsea Partners Consulting Ltd</span>
      <a href="http://smallsquad.com/"><div class="icon">{% include 'svg/ss_id.twig' %}</div></a>
    </div>
    <div class="social">
      <ul class="socialList">
        <li>
          <a href="http://twitter.com"></a>{% include 'svg/twitter_id.twig' %}
        </li>
        <li>
          <a href="http://facebook.com"></a>{% include 'svg/facebook_id.twig' %}
        </li>
      </ul>
    </div>
  </div>
</footer>