<head>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/public/css/index.css">
    <title>{{ index.title }}</title>
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/public/assets/images/favico.png">
</head>