{% extends 'layout.twig' %}
{% block content %}
    <input type="hidden" id="version" value="desktop">
    {% include 'popups/popups.twig' %}
<div data-view="block" class="viewBlock"></div>
    <section data-main-menu="menu" class="menu hide">
        <div class="aboutHeader">
            <div class="aboutLogo" data-sroll="top">
                {% include 'svg/sign_bw.twig' %}
            </div>
            <div class="aboutMenu" data-open-menu="0">
                <div class="border-menu">
                    <div class="line-top"></div>
                    <div class="line-middle"></div>
                    <div class="line-bottom"></div>
                </div>
            </div>
            <div class="menuContainer">
                <div class="aboutLogoOpen" data-sroll="top" data-menu="close">
                    {% include 'svg/sign_color.twig' %}
                </div>
                <ul data-remove-menu="0" data-menu="0" class="headerMenu">
                    <li><a data-red="0" data-anchor-link="0" href="#company">Company</a></li>
                    <li><a data-red="1" data-anchor-link="1" href="#chelsea">Chelsea</a></li>
                    <li><a data-red="2" data-anchor-link="2" href="#services">Services</a></li>
                    <li><a data-red="3" data-anchor-link="3" href="#request">Request</a></li>
                    <li><a data-red="4" data-anchor-link="4" href="#contacts">Contacts</a></li>
                </ul>
                <div class="lang" data-lang="menu">
                    <span>language</span>
                    <div class="globe">
                        {% include 'svg/lang.twig' %}
                    </div>
                </div>
            </div>
            <div class="languages" data-lang="langs">
                <ul>
                    <li><a href="#">in english</a></li>
                    <li><a href="#">по-русски</a></li>
                </ul>
            </div>
        </div>
    </section>
<div class="container">
    <div class="wrapper" data-lang-top="menu">
        <section data-section="5" id="top" class="top">
            <div class="centerContainer">
                <div data-anim-top="0" class="langTop hide" data-lang="menu" data-tap="lang" data-top-menu="lang">
                    <span>language</span>
                    <div class="globeTop">
                        {% include 'svg/lang.twig' %}
                    </div>
                </div>
                <div data-anim-top="5" class="fullLogo hide">
                    <div class="topCube left"><div class="topCubeTriangle"></div></div>
                    <div class="topCube leftCenter"><div class="topCubeTriangle"></div></div>
                    <div class="topCube rightCenter"><div class="topCubeTriangle"></div></div>
                    <div class="topCube right"><div class="topCubeTriangle"></div></div>
                    {% include 'svg/logo_full.twig' %}
                </div>
                <div data-anim-top="0" class="menuContainer hide">
                    <ul data-anim-top="2" class="menuTop hide">
                        <li><a data-red="0" data-anchor-link="0" href="#company">Company</a></li>
                        <li><a data-red="1" data-anchor-link="1" href="#chelsea">Chelsea</a></li>
                        <li><a data-red="2" data-anchor-link="2" href="#services">Services</a></li>
                        <li><a data-red="3" data-anchor-link="3" href="#request">Request</a></li>
                        <li><a data-red="4" data-anchor-link="4" href="#contacts">Contacts</a></li>
                    </ul>
                    <div data-anim-top="2" data-open-menu="0" class="menuButton hide">
                        <div class="border-menu">
                            <div class="line-top"></div>
                            <div class="line-middle"></div>
                            <div class="line-bottom"></div>
                        </div>
                    </div>
                    <div class="menuHolder"></div>
                </div>
                <div data-anim-top="1" class="textContainer hide">
                    <div data-anim-top="3" class="topText hide">
                        <span>Chelsea Partners Consulting Ltd is a specialist provider of
                        consulting services for companies looking to register a legal entity and outsource parts of
                        their business operations into the UK and Continental Europe.</span>
                    </div>
                    <div class="textHolder"></div>
                </div>
                <div data-anim-top="4" class="scrollDown first hide" data-anchor-link="0" href="#company">
                    <div class="rectHolder">
                        <div class="rect first"></div>
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>
                    {% include 'svg/scroll_down_up.twig' %}
                </div>
            </div>
        </section>
        <section data-section="0" id="company" class="about">
            <div class="centerContainer">
                <div data-anim-about="0" class="titleText hide">
                    <span class="titleRed">About a</span><br>
                    <span data-anim-about="1" class="titleWhite hide">company</span>
                </div>
                <div data-anim-about="2" class="textContainer hide">
                    <div data-anim-about="3" data-start-anim="about" class="aboutText hide">
                        <span>CPC offers a full range of professional services for companies looking to expand and outsource parts of their business
                        operation into the UK and Continental Europe. Our services range from a simple Company
                        Registration and Accounting / Legal Support to a more sophisticated Market Research and Sales Growth
                        strategy development aimed at gaining access to the UK / EU market.</span>
                    </div>
                    <div class="textHolder"></div>
                </div>
                <div data-anim-about="4" data-anchor-link="1" href="#chelsea" class="scrollDown second hide">
                    <div class="rectHolder">
                        <div class="rect first"></div>
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>
                    {% include 'svg/scroll_down_up.twig' %}
                </div>
            </div>
        </section>
        <section data-section="1" id="chelsea" class="chelsea">
            <div class="centerContainer">
                <div data-anim-chel="0" class="titleText hide">
                    <span class="titleRed">London,</span><br>
                    <span data-anim-chel="1" class="titleWhite hide">Chelsea</span>
                </div>
                <div data-anim-chel="2" class="textContainer hide">
                    <div data-anim-chel="3" data-start-anim="chelsea" class="chelseaText hide">
                        <span>Based in Chelsea, London, CPC team is a group of professionals with a background in London’s Tier 1 Investment Banks,
                        Private Banks, Law Firms and Property Consulting firms with over 30 years of accumulated
                        experience in exposure to UK’s professional services sector. Our aim is to ensure that your business operation
                        transfer to the UK runs as smooth and simple as possible.</span>
                    </div>
                    <div class="textHolder"></div>
                </div>
                <div data-anim-chel="4" data-anchor-link="2" href="#services" class="scrollDown third hide">
                    <div class="rectHolder">
                        <div class="rect first"></div>
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>
                    {% include 'svg/scroll_down_up.twig' %}
                </div>
            </div>
        </section>
        <section data-start-anim="services" data-section="2" id="services" class="services">
            <div class="centerContainer">
                <div class="servicesHeader">
                    <div class="titleText">
                        <span class="titleRed">Our</span><br>
                        <span class="titleWhite">services</span>
                    </div>
                </div>
                <div class="blocks">
                    <div data-anim-serv="0" class="block hide closed" data-show-block="1">
                        <div data-anim-serv="9" class="bottomTriangle hide blue mobile-red"></div>
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_banking.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Banking and<br>
                            Capital Markets
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="1" class="block hide closed" data-show-block="0">
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_registration.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Company<br>
                            Registration
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="2" class="block no-mobile hide">
                        <div data-anim-serv="9" class="topTriangle red hide"></div>
                        <div class="icon"></div>
                        <div class="text"></div>
                        <div class="button"></div>
                    </div>
                    <div data-anim-serv="3" class="block hide closed" data-show-block="4">
                        <div class="icon banking hide" data-anim-serv="11">
                            {% include 'svg/s_tax.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Tax and<br>
                            Accounting
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="4" class="block blue hide closed" data-show-block="3">
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_virtual.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Virtual Office and<br>
                            Administration<br>
                            Services
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="5" class="block mobile-blue hide closed" data-show-block="2">
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_directors.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Nominee<br>
                            Directors
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="6" class="block no-mobile hide">
                        <div data-anim-serv="9" class="bottomTriangle red hide"></div>
                        <div class="icon"></div>
                        <div class="text"></div>
                        <div class="button"></div>
                    </div>
                    <div data-anim-serv="7" class="block back hide closed" data-show-block="6">
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_market.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Market penetration,<br>
                            Research<br>
                            and Sales Support
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="8" class="block mobile-back hide closed" data-show-block="5">
                        <div data-anim-serv="9" class="topTriangle blue no-mobile hide"></div>
                        <div class="icon hide" data-anim-serv="11">
                            {% include 'svg/s_advisory.twig' %}
                        </div>
                        <div class="text hide" data-anim-serv="12">
                            Legal<br>
                            Advisory
                        </div>
                        <div class="button hide" data-anim-serv="13">
                            {% include 'svg/info_open.twig' %}
                        </div>
                    </div>
                    <div data-anim-serv="6" class="block mobile hide">
                        <div data-anim-serv="10" class="topTriangle red hide"></div>
                        <div class="icon"></div>
                        <div class="text"></div>
                        <div class="button"></div>
                    </div>
                </div>
            </div>
        </section>
        <section data-section="3" id="request" class="request">
            <div class="centerContainer">
                <div class="titleText">
                    <span class="titleRed">Make</span><br>
                    <span class="titleWhite">request</span>
                </div>
                <div data-start-anim="form" class="formHolder">
                    <form data-url="/{{ app.request.locale }}/api/send-mail/" id="reqForm" class="requestForm" data-send="success">
                        <input data-request-type="all" type="hidden" name="optional" value="">
                        <div class="inputField">
                            <input type="text" name="name" placeholder="Your name, Company" data-validate="1">
                        </div>
                        <div class="inputField">
                            <input type="tel" name="phone" placeholder="Contact phone" data-validate="0">
                        </div>
                        <div class="inputField">
                            <input type="text" name="city" placeholder="Country, City" data-validate="0">
                        </div>
                        <div class="inputField">
                            <input type="email" name="email" placeholder="E-mail" data-validate="1">
                        </div>
                        <div class="textField">
                            <textarea name="comment" placeholder="Explain the essence of your request" data-validate="1"></textarea>
                        </div>
                        <div class="button" data-tap="button">
                            <button data-anim-form="1" class="hide" type="submit">send request</button>
                            <div data-anim-form="0" class="buttonHolder"></div>
                        </div>
                    </form>
                    <div class="thanksMessage" data-send="thanks">
                        <div class="message">
                            Thank you, your request<br>
                            sent successfully. Our representative will<br>
                            contact you soon.<br>
                        </div>
                        <div class="button" data-tap="button">
                            <button data-anim-thanks="1" data-return="form" class="hide" type="button">send another</button>
                            <div data-anim-thanks="0" class="buttonHolder"></div>
                        </div>
                    </div>
                </div>
                <div data-anchor-link="5" href="#top" class="scrollDown up last">
                    <div class="rectHolder">
                        <div class="rect first"></div>
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>
                    {% include 'svg/scroll_down_up.twig' %}
                </div>
            </div>
        </section>
        {% include 'footer.twig' %}
    </div>
</div>
{% endblock %}

