<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% include 'head.twig' %}
<body>
{% spaceless %}
  {% block content %}{% endblock %}
  {% include 'scripts.twig' %}
{% endspaceless %}
</body>
</html>